.head_block
  Контактная информация
%table.contact
  %tbody
    %tr
      %th.contact Название:
      %td.contact ООО "ПО Кран диагностика"
    %tr
      %th.contact Контактное лицо:
      %td.contact Петр Арефьев
    %tr
      %th.contact Адрес:
      %td.contact РоссияМоскваВерхоянская дом 6 кор.1 офис 12129344
    %tr
      %th Телефоны:
      %td.contact_r +7(499)798-02-10 
    %tr 
      %th
      %td.contact_r +7(925)739-12-32  
    %tr
      %th 
      %td.contact_r +7(906)735-03-97
  %tbody


