.body
  = form_for(@price) do |f| 
    = f.text_field :name, label: "Название", :placeholder => "Название", :wrapper => false, input_html: {:class => "form-title"}  
    %br
    = f.text_field :description, label: "Обозначение", :placeholder => "Обозначение", :wrapper => false, input_html: {:class => "form-title"}  
    %br
    = f.text_field :price, label: "Цена",:placeholder => "Цена", :wrapper => false, input_html: {:class => "form-title"} 
    %br
    = f.submit "Сохранить", :class => "btn btn-success pull-right"
    = link_to "К списку продуктов", prices_path, :class => "btn btn-default" 