%table{:style => "width: 100%; "}
  - unless prices.nil?
    - for price in prices
      %tr
        %td.l.nb{:style => "padding-left: 10px;"}   
          = price.name
        %td.nb{:style => "padding-left: 10px;"}   
          = price.price
          р.
