.head_block
  Прайс
%table.t
  %tr
    %th № п.п.
    %th Наименование продукции
    %th Обозначение
    %th Цена
    %th.nb
  - for price in @prices
    %tr
      %td{:style => "text-align: center;"} 
        - @index+=1
        = @index
      %td{:style => "padding-left: 10px;"}  
        = price.name
      %td{:style => "padding-left: 10px;"} 
        = price.description
      %td{:style => "text-align: center;"}  
        = price.price
        р.
      %td.nb{:style => "text-align: center;"} 
        / - if user_signed_in?
        = link_to "удалить", price, data: {:confirm => "Удалить продукт?"}, :method => :delete

-if user_signed_in? 
  .button_add
    = link_to "Добавить позицию", new_price_path, :class => "btn btn-default"