.head_block
  = @price.name
%table
  %tr
    %th 
      Название:
      = @price.name
  %tr
    %th 
      Обозначение:
      = @price.description
  %tr    	
    %th 
      Цена:
      = @price.price 
      рублей


