@import 'bootstrap';
@import 'bootstrap-sprockets';
@import 'price';
@import 'product';
@import 'view';

body{
	background-image: image-url('background.jpg');
	margin: auto;
	width: 50%;
	min-width: 944px;
	border: 4px ridge white;

}

#head{
}

#contact{
	width: 100%;
	height: 150px;
	background-color: #fff;
}

#c1, #c2, #c3{
	float: left;
}

#c1{
	position: relative;
	left: 15px;
}

#c2{
	font-size: 41px;
	text-align: center;
	position: relative;
	top: 9px;
	left: 12px;
}

#c3{
	font-size: 30px;
	position: relative;
	top: 10px;
	left: 137px;
}

#in{
	position: absolute;
	z-index: 1;
	padding-top: 130px;

}

#c4{
	float: right;

}

#menu{
	height: 50px;
	width: 100%;

	background-image: image-url('background1.jpg');
	display: table;
}

#menu > a{
	padding-top: 8px;
	font-size: 25px;
	text-align: center;
	display: table-cell;
	color: #fff;
}

#menu > a:hover{
	background-image: image-url('background.jpg');
}

#gallery{
	height: 239px;
	background-image: image-url('image1.jpg');
}

#body{
	background-color: #fff;

}

#left{
	float: left;
}

.head_block{
	width: 100%;
	height: 40px;
	background-image: image-url('background1.jpg');
	font-size: 25px;
}

#price{
	border: 2px solid green;
	width: 250px;
	height: 300px;
	position: relative;
	margin:  10px 5px 10px 5px;
}

#tech{
	border: 2px solid green;
	width: 250px;
	height: 300px;
	position: relative;
	margin:  10px 5px 10px 5px;
}

#right{
	width: 665px;
	height: 610px;
	border: 2px solid green;
	float: right;
	position: relative;
	margin:  10px 5px 10px 5px;

}

#footer{
	background-image: image-url('background1.jpg');
	padding: 10px 0px 10px 0px;
}

span.b{
	font-weight: bold;
}

#address{
	font-size: 12px;
	float: left;
	position: relative;
	left: 50px;
}

#Eaddress{
	font-size: 12px;
	float: left;
	position: relative;
	left: 50px;
}

#call{
	font-size: 12px;
	float: right;
	position: relative;
	right: 50px;
	text-align: right;
}

.cl{
	clear: both;
}

