div.sc_menu {
  display: block;
  position: relative;
  height: 480px;
  width: 700px;
  left: 30px;
  overflow: hidden;
}
ul.sc_menu {
  display: block;
  height: 110px;
  padding: 5px 0 0 0px;
  margin: 0;
  background: url('navigation.png');
  list-style: none;
}
ul.sc_menu li {
  display: inline;
  float: left;
  padding: 0px 1px;
  width: 160px;
}
table.contact {
	font-size: 16px;
	width: 660px;
}