.body
  = form_for(@product) do |f| 
    = f.text_field :name, label: "Название", :placeholder => "Название", :wrapper => false, input_html: {:class => "form-title"}  
    %br
    = f.text_field :image, label: "Ссылка на изображение", :placeholder => "Ссылка на картинку", :wrapper => false, input_html: {:class => "form-title"}  	      
    %br
    = f.text_field :desc, label: "Описание", :placeholder => "Описание", :wrapper => false, input_html: {:class => "form-title"} 
    %br
    = f.text_field :price, label: "Цена",:placeholder => "Цена", :wrapper => false, input_html: {:class => "form-title"} 
    %br
    = f.submit "Сохранить", :class => "btn btn-success pull-right"
= link_to "К списку продуктов", products_path, :class => "btn btn-default" 



