.head_block
  Список продуктов
.body
  .sc_menu
    %ul.sc_menu
      - for product in @products
        %li
          %div
            %img{:alt => "temp-thumb", :height => "120px", :src => "#{product.image}", :width => "120px"}
          %div
            = link_to raw(product.name), product_path(product)
  -if user_signed_in?          							
    = link_to "добавить продукт", new_product_path, :class => "btn btn-default"



