%div
  %h1
    = "#{@product.name}"
  .pull-left
%table
  %tr		
    %th
      %img{:alt => "temp-thumb", :height => "200px", :src => @product.image, :width => "200px"}					
  %tr
    %th 
      Описание: 
      = @product.desc 	
  %tr
    %th 
      Цена: 
      = @product.price 
      рублей	
%div
-if user_signed_in? 
  = link_to "Редактировать", edit_product_path, :class => "btn btn-default" 
  = link_to "К списку продуктов", products_path, :class => "btn btn-default" 
  = link_to "Удалить", @product, data: {:confirm => "Удалить продукт?"}, :method => :delete, :class => "btn btn-danger" 
		   