<!DOCTYPE html>
%html
  %head
    %title 
      Crane
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 

  %body
    #head

      #contact
        #c1
          = image_tag("crane.png", :height => "150px");
        #c2
          ПО Кран
          %br Диагностика
        #c3
          +7 (499) 798-02-10
          %br +7 (906) 735-03-97
          +7 (925) 739-12-32
        #c4
          #in
          - if user_signed_in?
            = link_to "Выход", destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete'
          - else
            = link_to "Вход", new_user_session_path
           
          = image_tag("crane1.jpg", :height => "150px");

        .cl  

      #menu
        = link_to "Главная", root_path 
        = link_to "Продукты и цены", products_path
        = link_to "Прайс", prices_path
        %a{:href => "#"} Тех. поддержка
        = link_to "Контакты", view_Contact_path
      #gallery

    #body

      #left
        #price
          .head_block
            Прайс
            %span{:style => "float: right;"}
              = image_tag("crane.png", :height => "40px");
            .cl  
            = render "prices/index1", prices: Price.all
        #tech
          .head_block
            Тех. поддержка
            %span{:style => "float: right;"}
              = image_tag("crane.png", :height => "40px");
            .cl  
      #right
        = yield 
      .cl  

    #footer

      #address
        %span.b
          "ПО Кран диагностика"
          %br 
          Адрес:
        Россия, Москва, ул. Верхоянская 
        %br дом 6 кор.1 офис 12129344  
        %span.b
          Email:
        arf_petr70@mail.ru   
        
      #call
        %span.b
          Тел: 
        +7 (499) 798-02-10
        %br +7 (906) 735-03-97
        +7 (925) 739-12-32
        %br
          %span.b
            Контактное лицо: 
          Петр Арефьев 
      .cl